@reference '../app/globals.css';

.videoContainer{
    @apply w-full pointer-events-none;

    & video{
        @apply w-full h-auto;
    }
}

.arrowContainer{
    @apply flex justify-center items-center h-0;
}