@reference '../app/globals.css';

.videoContainer{
    @apply w-full pointer-events-none;

    & video{
        @apply w-full h-auto;
    }
}

.floatArrow{
    @apply flex justify-center items-center w-[50px] h-[50px] bg-white rounded-full fixed bottom-10 right-10 cursor-pointer;
}